<!-- <div class="container text-center p-5">
    <div class="row ">
        <div class="col">
            <p class="h1">Trade with traceability and trust</p>

            <p class="h4">Digital Commodity Exchange (DCX) is the home of a range of agricultural commodity trading
                platforms. Secure and integrated online ecosystems to trade and deliver commodities globally. All
                transactions are fully traceable. From fertilizer to rice, DCX platforms give improved market access and
                price discovery. Fraud and risk are reduced via smart contract solutions.</p>
            <br>
            <div class="mt-4">
                <button type="submit" class="btn btn-primary btn_p"> Start Trading Today!</button>

        </div>
        </div>
    </div>

</div> -->



<div fxLayout="row" fxLayoutAlign="center center"> 
    <div fxLayout="column" fxFlex="50" fxLayoutAlign="center center" fxLayoutGap="50">
        <p class="title">Trade with traceability and trust</p>

        <p class="txt">Digital Commodity Exchange (DCX) is the home of a range of agricultural commodity trading
            platforms. Secure and integrated online ecosystems to trade and deliver commodities globally. All
            transactions are fully traceable. From fertilizer to rice, DCX platforms give improved market access and
            price discovery. Fraud and risk are reduced via smart contract solutions.</p>
            <div fxLayout="row" >
                <button type="submit" mat-flat-button color="accent"> Start Trading Today!</button>
            </div>
        </div>
</div>