<div>
    <div class="container mb-5">
        <div class="row">
            <div class="col">
                <p class="h1 text-center pb-5 mb-5">Why Choose DCX</p>

            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-12  col-xl-4">
                <img src="../../../../assets/images/Logo_redondo.PNG"  width="65" alt="Logo corporativo">
                <div></div>
                <p class="h3">Blockchain</p>
                <p class="h5">Blockchain technology is perfectly suited to commodity trading, allowing transactions
                    to be agreed and completed in a fast,
                    cost efficient and secure way. Third parties, including shipping companies and inspectors,
                    can only access the data they need thus maintaining both buyer and seller privacy.</p>

            </div>
            <div class="col-sm-12 col-xl-4">
                <img src="../../../../assets/images/Logo_redondo2.PNG" width="65" alt="Logo corporativo">
                <p class="h3">Smart Contracts</p>
                <p class="h5">All DCX platforms employ smart contracts. These self-executing contracts contain the
                    terms of the agreement between buyer and
                    seller written into code.
                    Smart contracts make transactions traceable, transparent and immutable.</p>

            </div>
            <div class="col-sm-12  col-xl-4">
                <img src="../../../../assets/images/logo_redondo_3.PNG" width="65" alt="Logo corporativo">
                <p class="h3">Sustainability &
                    Food Security</p>
                <p class="h5 text-start">DCX platforms simplify management and procurement of soft commodities.
                    Buyers of sustainable food commodities can search for
                    suppliers and view the relevant verification documents online. In times of poor harvest or
                    natural disasters large-scale purchases can be
                    rapidly agreed. DCX platforms are integrated with inspection companies that ensure goods are
                    packed correctly,
                    reducing waste and spoilage</p>

            </div>
        </div>


    </div>
</div>