






<p class="title">Why Choose DCX</p>
<br>
<div fxLayout.gt.md="row" fxLayout.md="column" fxLayout.lt.md="column" fxLayoutAlign="center none" fxLayoutGap="3rem">

        <div class="block" fxFlex.gt.md="20%" fxFlex.xl="20%" fxFlex.lt-md="100%" fxFlex.md="100%">
            <img class="img-perso" src="../../../../assets/images/Logo_redondo.PNG" width="65" alt="Logo corporativo">
            <div fxLayout="column" fxLayoutAlign="center">
            <p class="title-dcx">Blockchain</p>
            <br>
            <p  class="txt">Blockchain technology is perfectly suited to commodity trading, allowing transactions
                to be agreed and completed in a fast,
                cost efficient and secure way. Third parties, including shipping companies and inspectors,
                can only access the data they need thus maintaining both buyer and seller privacy.</p>
                
            </div>
        </div>

        <div class="block" fxFlex.gt.md="20%" fxFlex.xl="20%" fxFlex.lt-md="100%" fxFlex.md="100%">

            <img class="img-perso" src="../../../../assets/images/Logo_redondo2.PNG" width="65" alt="Logo corporativo">
            <p class="title-dcx">Smart Contracts</p>
            <br>

                <p  class="txt">All DCX platforms employ smart contracts. These self-executing contracts contain the
                    terms of the agreement between buyer and
                    seller written into code.
                    Smart contracts make transactions traceable, transparent and immutable.</p>
                    
        </div>

        <div class="block" fxFlex.gt.md="20%" fxFlex.xl="20%" fxFlex.lt-md="100%" fxFlex.md="100%">

            <img class="img-perso" src="../../../../assets/images/logo_redondo_3.PNG" width="65" alt="Logo corporativo">
            <p class="title-dcx">Sustainability &
                Food Security</p>
                <br>
            <p class="txt">DCX platforms simplify management and procurement of soft commodities.
                Buyers of sustainable food commodities can search for
                suppliers and view the relevant verification documents online. In times of poor harvest or
                natural disasters large-scale purchases can be
                rapidly agreed. DCX platforms are integrated with inspection companies that ensure goods are
                packed correctly,
                reducing waste and spoilage</p>
        </div>
    </div>
