<!-- <div class="container text-center my-5">
    <h1 class="title m-5 py-3 ">Our Solutions</h1>
    <div class="row justify-content-center">
        <div class=" col-sm-12 col-md-5 col-xl-3 my-3 my-sm-3 mx-sm-4 my-md-2 mx-md-3 mx-lg-3 shadow rounded ">
            <div class="card border-0 align-items-center p-3">
                <img class="card-img-top img-card" src="../../../../assets/images/img1.png">
                <div class="card-body">
                    <div class="card-text">
                        Rice Exchange cover the maritime rice trade and connects buyers and sellers of rice in over 60 countries.
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-sm-12 col-md-5 col-xl-3 my-3 my-sm-3 mx-sm-4 my-md-2 mx-md-3 mx-lg-3 shadow rounded ">
            <div class="card border-0 align-items-center p-3">
                <img class="card-img-top img-card" src="../../../../assets/images/img2.png">
                <div class="card-body">
                    <div class="card-text">
                        Fertilizer Exchange improves access to the market allowing buyers, sellers and third parties to trade quickly and securely.
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-sm-12 col-md-5 col-xl-3 my-3 my-sm-3 mx-sm-4 my-md-2 mx-md-3 mx-lg-3 shadow rounded ">
            <div class="card border-0 align-items-center p-3">
                <img class="card-img-top img-card" src="../../../../assets/images/img3.png">
                <div class="card-body">
                    <div class="card-text">
                        DCX Pulses is now open for registration ahead of the platform launch in Q2 2022
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-sm-12 col-md-5 col-xl-3 my-3 my-sm-3 mx-sm-4 my-md-2 mx-md-3 mx-lg-3 shadow rounded ">
            <div class="card border-0 align-items-center p-3">
                <img class="card-img-top img-card" src="../../../../assets/images/img4.png">
                <div class="card-body">
                    <div class="card-text">
                        DCX Grains is now open for registration ahead of the platform launch in Q2 2022
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-sm-12 col-md-5 col-xl-3 my-3 my-sm-3 mx-sm-4 my-md-2 mx-md-3 mx-lg-3 shadow rounded ">
            <div class="card border-0 align-items-center p-3">
                <img class="card-img-top img-card" src="../../../../assets/images/img5.png">
                <div class="card-body">
                    <div class="card-text">
                        DCX Freight connects buyers and sellers to maritime transport providers and brokers and offers easy access to freight quotes, bookings and contracting in the  dry bulk and container segments.
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-sm-12 col-md-5 col-xl-3 my-3 my-sm-3 mx-sm-4 my-md-2 mx-md-3 mx-lg-3 shadow rounded ">
            <div class="card border-0 align-items-center p-3">
                <img class="card-img-top img-card" src="../../../../assets/images/img6.png">
                <div class="card-body">
                    <div class="card-text">
                        DCX Finance is embedded in the platforms to enable finance providers to provide trade finance wwsolutions to users based on trades.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


    <div  fxLayout.gt.md="row" fxLayout.lt-md="column" fxLayoutAlign="center" >
    
        <div fxLayout="column" fxFlex.gt-md="75%" fxFlex.lt-md="100%" fxLayoutAlign="center center" fxFlex="75" fxLayoutGap="10px">
    
            <div  fxLayout.gt.md="row" fxLayout.lt-md="column" fxFlex="100" fxLayoutGap="42px" fxLayoutAlign="center stretch">
    
                <mat-card  fxFlex.gt-md="31%" fxFlex.lt-md="100%">
                    <img class="img-perso" src="../../../../assets/images/img1.png">
                    <!-- <img class="img-perso" src="@img/img1.png"> -->

                    <mat-card-content>
                        <p class="txt">
                            Rice Exchange cover the maritime rice trade and connects buyers and sellers of rice in over 60
                            countries.
    
                        </p>
                    </mat-card-content>
    
                </mat-card>
    
    
    
                <mat-card  fxFlex.gt-md="31%" fxFlex.lt-md="100%">
                    <img class="img-perso" src="../../../../assets/images/img2.png">
                    <mat-card-content>
                        <p class="txt">
    
                            Fertilizer Exchange improves access to the market allowing buyers, sellers and third parties to
                            trade quickly and securely.
                        </p>
                    </mat-card-content>
    
                </mat-card>
    
    
    
    
                <mat-card  fxFlex.gt-md="31%" fxFlex.lt-md="100%">
                    <img class="img-perso" src="../../../../assets/images/img3.png">
    
                    <mat-card-content>
                        <p class="txt">
    
                            DCX Pulses is now open for registration ahead of the platform launch in Q2 2022
                        </p>
                    </mat-card-content>
    
                </mat-card>
    
    
            </div>
    
            <div fxLayout.gt.md="row" fxLayout.lt-md="column" fxFlex="100" fxLayoutGap="42px" fxLayoutAlign="center stretch">
    
                <mat-card fxFlex.gt-md="31%" fxFlex.lt-md="100%">
                    <img class="img-perso" src="../../../../assets/images/img4.png">
                    <mat-card-content>
                        <p class="txt">
                            Rice Exchange cover the maritime rice trade and connects buyers and sellers of rice in over 60
                            countries.
    
                        </p>
                    </mat-card-content>
    
                </mat-card>
    
    
    
                <mat-card  fxFlex.gt-md="31%" fxFlex.lt-md="100%">
                    <img class="img-perso" src="../../../../assets/images/img5.png">
                    <mat-card-content>
                        <p class="txt">
    
                            Fertilizer Exchange improves access to the market allowing buyers, sellers and third parties to
                            trade quickly and securely.
                        </p>
                    </mat-card-content>
    
                </mat-card>
    
    
    
    
                <mat-card  fxFlex.gt-md="31%" fxFlex.lt-md="100%">
                    <img class="img-perso" src="../../../../assets/images/img6.png">
    
                    <mat-card-content>
                        <p class="txt">
    
                            DCX Pulses is now open for registration ahead of the platform launch in Q2 2022
                        </p>
                    </mat-card-content>
    
                </mat-card>
    
    
            </div>
    
    
    
    
        </div>
    </div>
