

    <div class="container-fluid m-0 p-0 ">
        <div class="row m-0 p-0">
            <div class="col m-0 p-0">
                <video class="vid m-0 p-0 d-none d-sm-none d-xl-block" loop autoplay preload="auto"  muted>
                    <source src="../../../../../../../../assets/video/61b3346580338278eae4afd4_Hero Video-transcode.webm" type="video/webm">
                </video>
                <img src="../../../../assets/images/VideoScreenshot.PNG" alt="Imagen de la compañia" class="w-100 d-block d-sm-block d-xl-none"/>
                
            </div>
        </div>
    </div>