<div fxLayout="row wrap" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="100%">





<div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutAlign="center stretch" class="bg-f2">



    <div fxLayout="column" fxLayout.lt-md="row" fxLayoutAlign="center center" fxLayoutGap="7vh" fxFlex="100%">


        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10vh">
            <div class="max txt-white block block-left" fxLayoutGap="40">

                <div fxLayout="column" fxLayout.lt-md="row" fxLayoutAlign="center" fxFlex="25" fxLayoutGap="10">
                    <a href="#" class="">
                        <img src="../../../assets/images/61b3126a4e1c9f1fb3ae8bdc_Hero Logo.svg" alt="Logo del sitio"
                            class="img-footer">
                    </a>
                    <p class="block-left">BUILDING TRUSTED, TRANSPARENT AND EFFICIENT MARKETPLACES.
                        DCX Group leads the digital transformation of global commodity
                        markets by optimizing the online trade of supplies for billions of consumers around the
                        world.</p>
                </div>
                <div fxLayout="column" fxLayoutAlign="center" fxFlex="20" fxLayoutGap="">
                    <p class="txt-white title-25">Quick Links</p>


                    <mat-list class="txt-white-50" role="list">
                        <mat-list-item role="listitem"><a href="#" class="txt-white-50">Home</a></mat-list-item>
                        <mat-list-item role="listitem"><a href="#" class="txt-white-50">About</a></mat-list-item>
                        <mat-list-item role="listitem"><a href="#" class="txt-white-50">Our solutions</a>
                        </mat-list-item>
                        <mat-list-item role="listitem"><a href="#" class="txt-white-50">Our Partners</a></mat-list-item>
                        <mat-list-item role="listitem"><a href="#" class="txt-white-50">Our Help Center -FAQs</a>
                        </mat-list-item>

                    </mat-list>

                </div>
                <div fxLayout="column" fxLayoutAlign="center" fxFlex="20" fxLayoutGap="10">
                    <p class="txt-white title-25">Ask the Experts</p>
                    <mat-list class="txt-white-50" role="list">
                        <mat-list-item role="listitem"><a href="#" class="txt-white-50">Customer Services</a>
                        </mat-list-item>
                        <mat-list-item role="listitem"><a href="#" class="txt-white-50">Media Enquiries</a>
                        </mat-list-item>

                    </mat-list>

                </div>

                <div fxLayout="column" fxLayoutAlign="center" fxFlex="20" fxLayoutGap="10">
                    <p class="txt-white title-25">Contact Us</p>
                    <a href="" class="txt-white-50">support@dcx.group</a>
                    <p class="txt-white-50">4 Battery Road,
                        Singapore, 049908</p>
                    <a href="" class="txt-white-50">WhatsApp</a>
                    <button mat-flat-button color="accent" class="txt-black bg-yellow">Start Trading Today</button>
                    <button mat-flat-button class="txt-black bg-white">Subscribe to DCX Newsletter</button>
                </div>


            </div>



        </div>
        <div fxLayout="row" fxLayoutAlign="center">
            <div class="max width-100">
                <a href="#" class="text-decoration-none text-white m-2"><img
                        src="../../../../assets/images/descarga.png" width="50px" alt="LinkedIn"
                        class="me-2">LinkedIn</a>
                <span class="spacer"></span>
                <a href="#" class="text-decoration-none text-white m-2"><img
                        src="../../../../assets/images/descarga.png" width="50px" alt="LinkedIn"
                        class="me-2">LinkedIn</a>

            </div>

        </div>
    </div>

</div>


<div fxLayout="row" fxLayoutAlign="center" fxFlex="100%" class="bg-ft" >
    <div fxLayout="column" >


<div fxLayout="row" fxFlex="100%"  fxLayoutAlign="center"  >
    <div fxLayout="column" fxLayoutGap="5vh"  fxLayoutAlign="center center" fxFlex="100%">
        <div fxFlexAlign="center">
            <p   class="title-25 txt-white">© 2022 DCX Group. All rights reserved.</p>

        </div>
        <div fxLayout="column" fxLayoutGap="5vh" fxLayoutAlign="center center"  class="txt-white">

            <div fxLayout="row" fxLayoutGap="40vh" >
                <a href="#" class=" txt-white">Terms & Conditions</a>
                <a href="#" class=" txt-white">Privacy Policy</a>
                <a href="#" class=" txt-white">Disclaimer</a>

            </div>
        </div>
    </div>

</div>

</div>

</div>
</div>

</div>