<div class="text-center">



    <!-- Primer footer -->
    <!-- <div class="p-5 bg-f">
    
        <div class="container">
            <div class="row text-center mb-4">
                <div class="col-12 ">
                    <p class="h1 text-white">Sign up to our Newsletter</p>
                </div>
                <div class="col-12 col-md-12 col-xl-6">
                    
                    <form action="#" class="w-100 h-100 mb-4 mb-xl-0 align-content-center" >
                        <input type="text" name="NewsLetter" class="w-75 h-75 rounded-3 frm mt-1 " id="newsLetter">
                    </form>
                    
                </div>
                <div class="col-12 col-md-12 col-xl-6 mt-4 mt-xl-0">
                    <button type="submit" class="btn btn-primary m-2 w-75 h-75">Sign Up</button>

                </div>
            </div>
        </div>
    
    </div> -->
    <!-- Segundo footer -->
    <div class="bg-f2">
        <!-- <div class="container"> -->
        <div class="container">
            <div class="row text-start pt-5">
                <div class="col-sm-12 col-md-6 col-xl-3 my-4 my-md-5 my-xl-0">
                    <a href="#" class="">
                        <img src="../../../../assets/images/61b3126a4e1c9f1fb3ae8bdc_Hero Logo.svg" alt="Logo del sitio"
                            width="200px" class="my-3">
                    </a>
                    <h4 class="text-white mt-3">BUILDING TRUSTED, TRANSPARENT AND EFFICIENT MARKETPLACES.
                        DCX Group leads the digital transformation of global commodity
                        markets by optimizing the online trade of supplies for billions of consumers around the
                        world.</h4>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-3  my-4 my-md-5 my-xl-0">
                    <h4 class="text-white">Quick Links</h4>
                    <ul class="list-unstyled ">
                        <li class="py-2"><a href="#" class="text-decoration-none text-white-50 h5 ">Home</a></li>
                        <li class="py-2"><a href="#" class="text-decoration-none text-white-50 h5 ">About DCX</a>
                        </li>
                        <li class="py-2"><a href="#" class="text-decoration-none text-white-50 h5 ">Our
                                solutions</a></li>
                        <li class="py-2"><a href="#" class="text-decoration-none text-white-50 h5 ">Our Partners</a>
                        </li>
                        <li class="py-2"><a href="#" class="text-decoration-none text-white-50 h5 ">Help Center -
                                FAQs</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-3  my-4 my-md-5 my-xl-0">
                    <h4 class="text-white">Ask the Experts</h4>
                    <ul class="list-unstyled">
                        
                        <li class="py-2"><a href="" class="text-decoration-none text-white-50  h5">Customer Services</a></li>
                        <li class="py-2"><a href="" class="text-decoration-none text-white-50  h5">Media Enquiries </a></li>
                    </ul>
                        

                    
                </div>
                <div class="col-sm-12 col-md-6 col-xl-3 my-4 my-md-5 my-xl-0">
                    <h4 class="text-white">Contact Us</h4>
                    <a href="" class="text-decoration-none text-white-50 m-2">support@dcx.group</a>
                    <p class="text-white-50 m-2">4 Battery Road,
                        Singapore, 049908</p>
                    <a href="" class="text-decoration-none text-white-50 m-2">WhatsApp</a>
                    <button class="btn btn-primary m-2 w-100 align-self-end">Start Trading Today</button>
                    <button class="btn bg-white m-2 w-100 align-self-end">Subscribe to DCX Newsletter</button>
                </div>
            </div>

        </div>
        <div>
            <div class="container p-5">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <a href="#" class="text-decoration-none text-white m-2"><img
                                src="../../../../assets/images/descarga.png" width="50px" alt="LinkedIn" class="me-2">LinkedIn</a>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <a href="#" class="text-decoration-none text-white m-2"><img
                                src="../../../../assets/images/descarga.png" width="50px" alt="LinkedIn" class="me-2">LinkedIn</a>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- Tercer Footer -->
    <!-- #121521 -->
    <div class="bg-ft text-center">
        <div class="container p-5 pt-5">
            <p class="h4 text-white p-5">© 2022 DCX Group. All rights reserved.</p>
            <div class="row m-0">
                <div class="col-sm-12 col-xl-4  m-0"><a href="#" class="text-decoration-none text-white m-2">Terms &
                        Conditions</a></div>
                <div class="col-sm-12 col-xl-4 m-0"><a href="#" class="text-decoration-none text-white m-2">Privacy Policy</a>
                </div>
                <div class="col-sm-12 col-xl-4 m-0"><a href="#" class="text-decoration-none text-white m-2">Disclaimer</a></div>
            </div>
        </div>

    </div>

</div>
